* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

main {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; 
  background-color: #456882;
}

#commonly-logo {
    font-size: 30px;
    padding: 5px;
    margin: 10px 10px 10px 30px;
    color: #1B3C53;
}

header {
    box-shadow: 0 5px 5px 0 rgba(0, 0, 0, 0.3);
}

.nav-bar {
  display: flex;
  align-items: center;
  gap: 20px;
}

.nav-bar ul {
  display: flex;
  gap: 15px;
  list-style: none;
  margin: 10px;
}

.nav-bar ul li a {
  text-decoration: none;
  color: #456882;   
  font-weight: 600;
  padding: 6px 12px;
  border-radius: 8px;
}

body {
 display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.nav-bar ul li a:hover {
  background-color: #456882;
  color: white;
}

.white-box {
  background-color: white;
  padding: 30px 40px; 
  border-radius: 20px;
  max-width: 400px;
  width: 100%;
  box-shadow: 0 8px 20px rgba(0,0,0,0.2); 
  display: flex;
  flex-direction: column;
  gap: 0px; 
}
 
.white-box h1 {
    text-align: center;
}

footer {
  background-color: white;             
  padding: 15px 30px;                 
  border-radius: 20px 20px 0 0;       
  text-align: center;                 
  color: #1B3C53;                     
  margin: 20px;                       
  width: 100%;
}

.button {
  background-color: #456882;
  padding: 10px 20px;        
  font-size: 16px;          
  border: none;              
  border-radius: 5px;        
  cursor: pointer; 
}